#dates_wrapper, #words_wrapper {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}


th {
    text-align: center;
}

#timestamps {
    text-align: right;
}

svgß {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#disclaimers
{
    text-align: left;
}